.header {
  width: 100%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1.2rem 48rem 0 1.2rem;

  .charts {
    display: flex;
    gap: 1.6rem;
    .active {
      color: #1e90ff;
      border-bottom: 2px solid #1e90ff;
    }
  }

  .filter_resizer {
    display: flex;
    gap: 3.4rem;
    select {
      height: 2.4rem;
      color: #101828;
      padding-left: 0.8rem;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    .resizer {
      color: #344054;
      cursor: pointer;
    }
  }
}
