.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.table-row,
.table-header {
  border-bottom: 1px solid #eaecf0;
  height: 5rem;
}

.table-header {
  border-top: 1px solid #eaecf0;
  div {
    border-right: 1px solid #eaecf0;
    text-align: left;
    font-size: 1.2rem;
    color: #667085;
    font-weight: 400;
    padding: 1.7rem 0 0 1rem;
    .icon {
      color: #1e90ff;
    }
  }
  .names {
    display: flex;
    gap: 0.5rem;
  }
}

.table-row {
  div {
    border-right: 1px solid #eaecf0;
    padding: 1.7rem 0 0 1.2rem;
    font-size: 1.2rem;
    color: #344054;
    select {
      outline: none;
      border: none;
      color: #fff;
      padding: 0.2rem 0.8rem;
      border-radius: 1rem;
      &.ochiq {
        background-color: #fdb022;
      }
      &.bajarildi {
        background-color: #32d583;
      }
      &.bajarilmoqda {
        background-color: #1e90ff;
      }
    }
  }
}
